@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <br />
    <br />
    <h1>FLUXO ROTATIVO DO ESTACIONAMENTO</h1>
    <br />
    <br />
    <br />
    <br />
    <br />
    <img src="~/img/logo.png" class="img-fluid" alt="Imagem estacionamento" width="700">
</div>
