@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div class=" card shadow-lg p-3 mb-5 bg-white rounded">
   
    
</div>
